.founder {
  background-image: url(../img/HK.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.founder p {
  color: #222330;
}

@media screen and (max-width: 1050px) {
  .founder {
    background-image: url(../img/Hideo.png), url(../img/grey.png);
    background-blend-mode: soft-light;
  }
}
